* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head{
    display: inline;
    align-items: center;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    background-color: rgb(77, 74, 74);
    color: white;
    
    
    
}
.h11 ::after {
    content: "Portfolio";

    
  }
.headlink {
    display: inline-block;
    flex-direction: column;
    
}
.projects {
    float: right;
}
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    line-height: 2;
    font-size: 24px;
}
body {
    display: flex;
    background-color: rgb(238, 230, 216);
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
}
.sidebar {
    position: absolute;
    width: 200px;
    float: left;
}

.me {
    background-color: gray;
    margin: 5;
}
.projects {
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    color: white;
    background-color: gray;
    
}
.sidebar {
    background-color: lightslategray;
}

.boxtext {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    background-color: lightslategray

}

.boxtext1 {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    background-color: lightslategray



    
}
main div {
    float: left;
}
.footer {
    background-color: rgb(77, 74, 74);
    height: 170px;
}